.container{
    background: #79c4b5;
    height: 100%;
}
.header{
    margin: 0;
    text-align: center;
}
.textarea{
    background: #79c4b5;
    border: 0;
    height: 100%;
    padding: 0;
    resize: none;
    width: 100%;
}